        <form class="form-horizontal" role="form" method="post" name="add_note_form" action="{:url()}"  onsubmit="return validateCallback(this)">
        	<input type="hidden" value="{$page_info.from}" name="from" />
            <fieldset>
            	<legend>
                	<div class="col-sm-7 pull-left">
                        <span class="label label-lg label-pink arrowed-right">{:config('site_info')[$page_info.cur_user_info.site_id]['site']}</span>
                        <span class="label label-xlg label-primary arrowed arrowed-right">{$page_info.cur_user_info.nickname}</span>
                        <span class="label label-lg label-primary  arrowed arrowed-right">
                            (班次: {$page_info.hr_role_str})
                        </span>
                        <span class="label label-info  arrowed arrowed-right">年休 {$page_info.year_holiday_day}小时</span>
                        <span class="label label-info arrowed arrowed-right">补休 {$page_info.user_hr_holiday}小时</span>
                        {neq name="$page_info.cur_user_info.hr_user_id" value="0"}
                            <span class="label label-inverse">考勤人:{:get_cache_data('user_info',$page_info.cur_user_info.hr_user_id,'nickname')}</span>
                        {/neq}
                    </div>
                    <div class="col-sm-2 pull-left">
                    	<span class="label label-lg label-pink arrowed-left" style=" margin-left:20px;">考勤以实际考勤时间及请假单时数计算</span>
                    </div>
                   </legend>
                    <div class="form-group" style="margin:50px -12px 10px -12px;">
                        <label class="col-sm-1 control-label no-padding-right">类型</label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <select name="note_type">
                                	<option value="1">请假单</option>
                                    <option value="2">晚餐预订</option>
                                    <option value="3">晚到</option>
                                </select>
                                
                                <select name="hr_note_id">
                                	{volist name="$page_info.note_type_info" id="vo"}
                                        <option value="{$i}">{$vo}</option>                                        
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <label class="col-sm-1 control-label no-padding-right">
                            <div name="note_hour">申请时间</div>
                            <div name="note_type_2_flag" style="display:none;">管理部代购 ?</div>                        
                         </label>
                        <div class="col-sm-5">
                        	<div name="note_hour" class="left col-sm-4" style=" padding:0 0 0 0;">
                           		<input type="text" name="note_hour" value="0" placeholder="请假时数" class="col-sm-8">
                           	</div>
                            <div name="note_type_2_flag" class="note_type_2_flag_switch left col-sm-4" style="display:none;">
                                <label class="pull-left inline">
                                   <input class="ace ace-switch ace-switch-5" type="checkbox">
                                   <span class="lbl"></span>
                                   <input type="hidden" name="note_type_2_flag" value="0" />
                                 </label>
                            </div>
                            <div name="age_div" style="display:none;"  class="left col-sm-7">
                            	假期代理人: 
                            	<select name="age_user_id">
                                	{volist name="$page_info.age_info" id="vo"}
                                		<option value="{$vo.id}" {eq name="vo.show_flag" value="0"} style="display:none;" {/eq} {eq name="vo.hr_flag" value="1"} selected="selected" {/eq}>{$vo.nickname}</option>
                                    {/volist}
                                    	<option value="all">所有</option>
                                </select>
                            </div>                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label no-padding-right"> 开始时间</label>
                        <div class="col-sm-5">
                        	<div name="begin_time"  style="position: relative; z-index: 9999;">
                                <input class="date-picker col-sm-4" type="text"  readonly="readonly" name="begin_date" id="begin_date" value="{$page_info.cur_date}" />
                                        <span class="input-group-addon" style="display:none;">
                                            <i class="icon-calendar"></i>
                                        </span>
                                {:get_h_select('begin_h',$page_info['begin_h'])}
                               	{:get_m_select('begin_m',$page_info['begin_m'])}
                            </div>
                        </div>
                        <label class="col-sm-1 control-label no-padding-right"> 结束时间</label>
                        <div class="col-sm-5">
                            <div class="input-group">
                            	<div  name="end_time" style="position: relative; z-index: 9999;">
                                    <input class="col-sm-12" type="text" data-date-format="yyyy-mm-dd" readonly="readonly" name="end_date" value="{$page_info.cur_date}" />
                                    <input class="col-sm-12" type="text" data-date-format="yyyy-mm-dd" style="display:none" readonly="readonly" id="end_date2" name="end_date2" value="{$page_info.cur_date}" />
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label no-padding-right">标题</label>
                        <div class="col-sm-5">
                        	<ul class="list-unstyled">
                            	<li class="pull-left"><input type="text" class="col-sm-11" placeholder="申请单简要说明" value="公假" name="note_title"> <span class="red"> * </span> </li>
                                {eq name="$page_info.auto_sqd" value="1"}
                                    <li class="bigger-110 orange pull-left"><br />
                                        {$page_info.hr_date_info.hr_status_remark}{$page_info.hr_date_info.hr_remark}
                                    </li>
                                {/eq}
                            </ul>
                        </div>
                        <label class="col-sm-1 control-label no-padding-right"> 详细说明</label>
                        <div class="col-sm-5">
                            <textarea class="form-control"  placeholder="申请单详细说明" style="width: 350px; height: 138px;" name="note_desc"></textarea>
                        </div>
                    </div>
             </fieldset>
             
             <div class="form-actions center">
			    <button title="{$page_info.hr_date}异常回复" onclick="" type="button" url="{:url('ifation')}?data_time={$page_info.hr_date}" class="btn btn-primary layerIframe" style="float:right;margin-right:12%">信息有误？</button>
                <button onclick="this_form_ajax_go(this)" type="button" class="btn btn-sm btn-success">
                    提交
                </button>
                <a onclick="" wtq_up_index_alert_close="close" class="btn btn-sm  btn-success layui-layer-close" style="margin:0 60px 0px 0;position: initial;" >关闭</a>
            </div>  
</form>

            <br />
            <h3>本日有效考勤打卡计数({$page_info.card_num_count})次</h3>
            <table class="layui-table">
                <thead>
                <tr>
                  <th>打卡点</th>
                  <th>打卡时间</th>
                  <th>是否有效</th>
                </tr> 
              </thead>
              <tbody>
                {gt name="$page_info.card_num_count" value="0"}
                {volist name="$page_info.card_info" id="vo"}
                    <tr>
                      <td>{$vo.card_site}</td>
                      <td>{$vo.entry_dt}</td>
                      <td>{$vo.card_status}</td>
                    </tr>
                {/volist}
                {else/}
                    <tr>
                        <td colspan="3">本日无打卡!</td>
                    </tr>
                {/gt}
              </tbody>
            </table>      
<script>
no_go=1;
function this_form_ajax_go(thi){
	if(no_go==1){
		var time=5;
		thi.innerHTML="提交("+time+")";
		thi.setAttribute("class", "btn btn-sm btn-error");
		var show_time=self.setInterval(function(){
			time=time-1;
			thi.innerHTML="提交("+time+")";
			if(time==0){
				thi.innerHTML="提交";
				clearInterval(show_time)
				no_go=1;
				thi.setAttribute("class", "btn btn-sm btn-success");
			}
		},1000); 
		no_go=999;
	}else{
		return false;
	}
	//add_note_form
	var form = new FormData($('form[role="form"][method="post"][name="add_note_form"]')[0]);
		$.ajax({
            type: "POST",
            url:'{:url()}',
            data:form,// 你的formid
            processData:false,
            contentType:false,
            dataType:'json',
            error: function(request) {
                mythisalert(0,'失败')
            },
            success: function(data) {
                mythisalert(data['statusCode'],data['message']);
               // index()
               events_reset()
               if(data['statusCode']==1){
            	   $("a[wtq_up_index_alert_close=close]").trigger('click');
               }
               
            }
		})
}

//自动计算结束时间
function auto_end_time(){
		begin_date=$('input[name=begin_date]').val();
		begin_h=$('select[name=begin_h]').val();
		begin_m=$('select[name=begin_m]').val();
		note_hour=$('input[name=note_hour]').val();
		check_flag=false;
		err_msg="";
		
		if(begin_date.length<5){
			err_msg="开始日期错误!";
			check_flag=true;
			}
		
		if(note_hour.length==0){
			err_msg="申请时间不能为空";			
			check_flag=true;
			}

		if(check_flag){
					alert(err_msg);
				if(note_hour.length==0){
					$('input[name=note_hour]').focus();	
				}
				return false;
			}else{
				$.post("{:url('auto_end_time')}/note_hour/"+note_hour+"/begin_date/"+begin_date+"/begin_h/"+begin_h+"/begin_m/"+begin_m,function(result){
					$('input[name=end_date]').val(result);
					//alert(result);
				});
				}
	}


//点击开始日期
	laydate({
		elem:'#begin_date',
		format:'YYYY-MM-DD',
		festival:true,
		isclear: false,
		choose:function(datas){
			auto_end_time();
			}
	});

/*
//点击开始日期
$('.date-picker').datepicker({autoclose:true,onSelect:function(){alert('aaa')}}).on('hide',function(event){
		event.preventDefault();
		event.stopPropagation();
	}).next().on('click', function(){
					$(this).prev().focus();
				});
	*/	
		
//点击结束日期
$('input[name=end_date]').click(function(){
	 if($('select[name=hr_note_id]').val() !=9){
		 	layer.tips('结束日期系统自动计算!',$(this),{tips:2});
		 }
	});

//请假时数点击
$('input[name=note_hour]').click(function(){
		layer.tips('单位:小时',$(this),{tips:2});
	});
	
//申请时间,开始日期,开始时间小时&分钟发生变化时自动计算结束时间
$('select[name=begin_h],select[name=begin_m]').change(function(){
		auto_end_time();
	});

//选择申请单类型
$('select[name=note_type]').change(function(){
		val=$(this).val();
		switch(val){
			case '1':
				$('select[name=hr_note_id]').show();
				$('div[name=note_hour]').show();
				$('div[name=age_div]').hide();
				$('div[name=note_type_2_flag]').hide();
				$('div[name=begin_time]').show();
				$('div[name=end_time]').show();
				$('input[name=note_title]').attr('readonly',false);
				$('textarea[name=note_desc]').attr('readonly',false);
				break;
			case '2':
				$('select[name=hr_note_id]').hide();
				$('div[name=note_hour]').hide();
				$('div[name=age_div]').hide();
				$('div[name=note_type_2_flag]').show();
				$('div[name=begin_time]').hide();
				$('div[name=end_time]').hide();
				$('input[name=note_title]').attr('readonly',true);
				$('textarea[name=note_desc]').attr('readonly',true);
				break;			
			case '3':
				$('select[name=hr_note_id]').hide();
				$('div[name=note_hour]').hide();
				$('div[name=age_div]').hide();
				$('div[name=note_type_2_flag]').hide();
				$('div[name=begin_time]').show();
				$('div[name=end_time]').hide();
				$('select[name=begin_h]').hide();
				$('select[name=begin_m]').hide();
				$('input[name=note_title]').attr('readonly',false);
				$('textarea[name=note_desc]').attr('readonly',false);
				break;
			case '4':
				$('select[name=hr_note_id]').hide();
				$('div[name=note_hour]').show();
				$('div[name=age_div]').hide();
				$('div[name=note_type_2_flag]').hide();
				$('div[name=begin_time]').show();
				$('div[name=end_time]').show();
				$('input[name=note_title]').attr('readonly',false);
				$('textarea[name=note_desc]').attr('readonly',false);
				break;
			}
		
	});

//管理部代购选项点击
$('.note_type_2_flag_switch').click(function(){
		$obj=$(this).find('input[name=note_type_2_flag]');
		if($obj.val()==0){
				$obj.val('1');
			}else{
				$obj.val('0');
				}
	});

//申请时间变化时,判断是否需要设置代理人
$('input[name=note_hour]').change(function(){
	val=$(this).val();
	var re = /^\d+(\.\d)?$/;
	var bol = re.test(val);
	
	if(val>50){
		alert('申请单时间过长,系统无法分拆,请减少申请时间!');
		return false;
		}
	
	if(bol){
			if(val.substr(-2,1)=="."){
				temp_str=val.substr(-1,1);
				if( temp_str != '5' && val.substr(-1,1)!="0"){
					alert('申请时间只能精确到半小时 如:3.5\n请重新填写!');
					$(this).val('');
					return false;
					}
				}
			//判断是否超过系统设定指定代理人时间,激活代理人选择控件
			if(parseInt(val)>parseInt('{$page_info.age_time_val}')){
					$('div[name=age_div]').show();
				}else{
					if(val==8.5){
							$('div[name=age_div]').show();
						}else{
							$('div[name=age_div]').hide();
							}						
					}
				auto_end_time();
		}else{
			alert('申请时间只能为以下格式\n 3 \n 3.5 \n请重新填写!');
			$(this).val('');
			return false
			}
	});

//请假单类型变化,自动填写title
$('select[name=note_type]').change(function(){
		val=$(this).val();		
		if(val != 2){
			if(val==1){
					title_str=$('select[name=hr_note_id]').find('option:selected').html();
				}else{
					title_str=$(this).find('option:selected').html();
					}
				$('input[name=note_title]').val(title_str);
			}
	});

//请假单类型发生变化
$('select[name=hr_note_id]').change(function(){
		title_str=$(this).find('option:selected').html();
		$('input[name=note_title]').val(title_str);
		if($(this).val()==3){
				layer.tips('病假将折扣工资,建议选择休假!',$(this),{tips:2});
			}
		//哺乳假设定
		if($(this).val()==9){
				$('select[name=begin_h]').hide();
				$('select[name=begin_m]').hide();
				$('div[name=note_hour]').hide();
				$('div[name=end_time]').hide();				
				$('div[name=end_time2]').show();				
			}
	});
	
	//判断是否自动填写申请单
	if('{$page_info.auto_sqd}'==1){
		json_sqd=eval('('+'{$page_info.sqd_json}'+')');
		form_obj=$('form[name=add_note_form]');
		form_obj.find('select[name=hr_note_id]').val(2);
		form_obj.find('input[name=note_hour]').val(json_sqd.z_work_need_time);
		form_obj.find('input[name=begin_date]').val(json_sqd.hr_date);
		form_obj.find('input[name=end_date]').val(json_sqd.end_date);
		form_obj.find('input[name=note_title]').val('休假');
		
		if($('input[name=note_hour]').val()==0){
			$('select[name=note_type]').find('option[value=3]').attr("selected",true);
			$('select[name=hr_note_id]').hide();
			$('div[name=note_hour]').hide();
			$('div[name=age_div]').hide();
			$('div[name=note_type_2_flag]').hide();
			$('div[name=begin_time]').show();
			$('div[name=end_time]').hide();
			$('select[name=begin_h]').hide();
			$('select[name=begin_m]').hide();
			$('input[name=note_title]').attr('readonly',false);
			$('textarea[name=note_desc]').attr('readonly',false);
		}
	}

//假期代理邮件排序
/*
$('select[name=age_user_id]').click(function(){
		layer.tips('邮件地址排序!',$(this),{tips:2});
	});
*/

//显示所有代理人
$('select[name=age_user_id]').change(function(){
		if($(this).val()=='all'){
				$(this).find('option').show();
			}
	});

</script>