<div class="row">
	<div class="col-xs-12">
        <form class="form-horizontal" role="form" method="post" action="/User/User_main/change_user_pwd/"  onsubmit="return validateCallback(this)">
            <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">新密码</label>
                        <div class="col-sm-4">
                            <input type="password" class="col-sm-7"  value="" name="new_pwd1" > <span class="red"> * </span> 
                        </div>
                        <label class="col-sm-2 control-label no-padding-right"> 确认新密码</label>
                        <div class="col-sm-4">
                            <input type="password" class="col-sm-7"  value="" name="new_pwd2"> <span class="red"> * </span> 
                        </div>
                    </div>
             </fieldset>
            </form>
    </div>
</div>
