<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pricelist维护页面</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__PUBLIC__/static/assets/css/ace.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/assets/easy-ui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/assets/easy-ui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/assets/easy-ui/demo.css">
	<script type="text/javascript" src="__PUBLIC__/static/assets/easy-ui/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/static/assets/easy-ui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/static/assets/easy-ui/easyui-lang-zh_CN.js"></script>		
	<script src="__PUBLIC__/static/assets/layer/layer.js"></script>	
</head>
<style>
	body{padding: 0 0 0 0}
	.fieldId{cursor:pointer;}
	.fieldId:hover{display:block;color:#fff;background-color:#888;border:1px solid #ccc}
</style>
<body>
	<table class="easyui-datagrid" id="tt" title="PriceList维护列表">
		<thead data-options="frozen:true">
			<tr>
				<!--<th field="ck" checkbox="true">选择</th>-->
				<th data-options="field:'id',width:50,sortable:true">ID</th>
				<th data-options="field:'ima131',width:60">LINE</th>
				<th data-options="field:'imaud07',width:50,formatter:check"> Passβ</th>
				<th data-options="field:'xmf03',width:160,formatter:flow">料件编号</th>
				<th data-options="field:'prd_rmb_price',width:60">标准品RMB</th>
				<th data-options="field:'xmf07',width:60,{if condition='($user_type eq 2)'}editor:'text',styler:function(value,row,index){return 'background-color:#6d8a92;color:#ffffff'}{/if}">标准品(含税)</th>
				<th data-options="field:'prd_usd_price',width:60">USD</th>
				<th data-options="field:'ima10',width:60,{if condition='($user_type eq 2)'}editor:'text',styler:function(value,row,index){return 'background-color:#6d8a92;color:#ffffff'}{/if}">归属地</th>
			</tr>
		</thead>
		<thead>
			<tr>
				<th data-options="field:'prd_code_rmb_price',width:60">Code(不含税)</th>
				<th data-options="field:'ta_xmf11',width:80,{if condition='($user_type eq 2)'}editor:'text',styler:function(value,row,index){return 'background-color:#6d8a92;color:#ffffff'}{/if}">带CodeRMB单价</th>
				<th data-options="field:'prd_code_usd_price',width:80">Code USD</th>
				<th data-options="field:'ima27',width:80,{in name='$user_type' value='2,3'} editor:'numberbox',styler:function(value,row,index){return 'background-color:#6d8a92;color:#ffffff'}{/in}">安全库存</th>
				<th data-options="field:'imaud10',width:80,{if condition='($user_type eq 2)'}editor:'numberbox',styler:function(value,row,index){return 'background-color:#6d8a92;color:#ffffff'}{/if}">预建库存</th>
				<th data-options="field:'ta_xmf01',width:120,{if condition='($user_type eq 1)'}editor:'text',styler:function(value,row,index){return 'background-color:#6d8a92;color:#ffffff'}{/if}">L/T Days</th>
				<th data-options="field:'ta_xmf02',width:120,{if condition='($user_type eq 1)'}editor:'text',styler:function(value,row,index){return 'background-color:#6d8a92;color:#ffffff'}{/if}">定下单MOQ</th>
				<th data-options="field:'ta_xmf03',width:120,{if condition='($user_type eq 1)'}editor:'text',styler:function(value,row,index){return 'background-color:#6d8a92;color:#ffffff'}{/if}">Pack 最小包装数量</th>
				<th data-options="field:'ta_xmf08',width:120,{if condition='($user_type eq 1)'}editor:'text',styler:function(value,row,index){return 'background-color:#6d8a92;color:#ffffff'}{/if}">Refund Qty(Kpcs)</th>
				<th data-options="field:'ta_xmf04',width:120,{if condition='($user_type eq 2)'}editor:'text'{/if}">Marke Price_内</th>
				<th data-options="field:'ta_xmf05',width:120,{if condition='($user_type eq 2)'}editor:'text'{/if}">Marke Price_外</th>
				<th data-options="field:'ta_xmf06',width:120,{if condition='($user_type eq 2)'}editor:'text'{/if}">Agent Price_内</th>
				<th data-options="field:'ta_xmf07',width:120,{if condition='($user_type eq 2)'}editor:'text'{/if}">Agent Price_外</th>
				<!--<th data-options="field:'ima11',width:120">PM人员</th>-->

				<a style="text-underline: none"></a>

			</tr>
		</thead>
	</table>
	<div id='tb'>
		料建编号：<input type="text" name="xmf03"  value="" style="width:200px;" />
		{if condition="$user_type neq 2"}
		&nbsp;&nbsp;Line：<input type="text" name="ima131"  value="" style="width:100px;" />
		{/if}
		&nbsp;&nbsp;<a href="#" class="easyui-linkbutton" iconCls="icon-search"  onclick="reload()">查询</a>
		<!--&nbsp;&nbsp;<a href="#" class="easyui-linkbutton" onclick="editBySearch()" data-options="iconCls:'icon-edit',plain:true">批量修改</a>-->
	</div>
</body>
<script>
	var lastIndex;
	$(function (){
		$('#tt').datagrid({
			loadMsg : "正在加载数据",
			singleSelect:true,
			toolbar:'#tb',
			pagination:true,//显示分页
			pageSize:20,//分页大小
			pageList:[10,20,30],
			url:"get_price_data",
			onClickCell:onClickCell,
			onDblClickRow :function(rowIndex,rowData){
			},
			onAfterEdit: function (rowIndex, rowData, changes) {
				//判断是否修改字段
				var i = getJsonLength(changes);
				if(i == 0){
					return false;
				}
			   //定义数组
				if(rowData.xmf03 == 0){
					rowData.xmf03 = '';
				}
				$('#tt').datagrid('updateRow',{index:rowIndex,row:rowData});//写入行数据
				$('#tt').datagrid('endEdit', rowIndex);//记录编辑的数据
                var id = rowData.id;
				var xmf03 = rowData.xmf03;
				var ima10 = rowData.ima10;
				changes.id = id;
				changes.ima01 = xmf03;
				changes.ima10 = ima10;
				//endEdit该方法触发此事件
				$.post("save_price",changes,function(result){
					$('#tt').datagrid('refreshRow',rowIndex);
					if(result.statusCode == 1){
						$('#tt').datagrid('reload');
					}else{
						showMsg(result);
					}

				},"json")
			}
		})
	});





	function  editBySearch(){
		var selRows  = $('#tt').datagrid('getChecked');
		var id_arr =  new Array();
		$.each(selRows,function(k,v){
			 id_arr.push(v.id);
		});
		layerIframe('批量修改库存',"{:url('/erp/price_list/edit_batch/id/')}"+id_arr,wid="400px;",hig="300px;");
	}

	//绑定回车事件
	$(document).keydown(function(event){
		if(event.keyCode==13){
			reload();
		}
	});



	//点击搜索触发此方法
	function reload(){
		var xmf03 = $("input[name=xmf03]").val();
		var ima131 = $("input[name=ima131]").val();
		$('#tt').datagrid('reload',{param:xmf03,line:ima131});//重新加载datagrid
	}

	$.extend($.fn.datagrid.methods, {
		editCell: function (jq, param) {
			var user_type = "{$user_type}";
 			//获得选取行的数据
			var row = $('#tt').datagrid('getSelected');
			var imaud07 = row.imaud07;
			var field = param.field;
			//判断PM、以及SD是否有权限维护 业务部安全库存、预见库存
			if(user_type == '2'){
				if(field === 'ima27' && imaud07 === 'Y'){
					return false;
				}
			}else if(user_type == '3'){
				if(field === 'ima27' && imaud07 === 'N'){
					return false;
				}
			}

			return jq.each(function () {
				var opts = $(this).datagrid('options');
				var fields = $(this).datagrid('getColumnFields', true).concat($(this).datagrid('getColumnFields'));

				for (var i = 0; i < fields.length; i++) {
					var col = $(this).datagrid('getColumnOption', fields[i]);
					col.editor1 = col.editor;
					if (fields[i] != param.field) {
						col.editor = null;
					}
				}
				$(this).datagrid('beginEdit', param.index);
				for (var i = 0; i < fields.length; i++) {
					var col = $(this).datagrid('getColumnOption', fields[i]);
					col.editor = col.editor1;
				}
			});
		}
	});
	var editIndex = undefined;
	function endEditing() {
		if (editIndex == undefined) { return true }
		if ($('#tt').datagrid('validateRow', editIndex)) {
			$('#tt').datagrid('endEdit', editIndex);
			editIndex = undefined;
			return true;
		} else {
			return false;
		}
	}

	function onClickCell(index, field) {
		if (endEditing()) {
			$('#tt').datagrid('selectRow', index)
					.datagrid('editCell', { index: index, field: field });
			editIndex = index;
		}
	}

	function flow(value,rowData,rowIndex){
		     var id = rowData.id;
			 return '<a href="#" style="text-decoration:none " url="showlog?id='+id+'"  title="查看日志" class="easyui-linkbutton layerLog" url="showlog">'+value+'</a>';
	}

	function check(value,rowData,rowIndex){
            if(value === "Y"){
				return '';
			}else{
				return '<span style="color: red;">N</span>';
			}
	}




	//查看自建长度
	function getJsonLength(jsonData){
		var jsonLength = 0;
		for(var item in jsonData){
			jsonLength++;
		}
		return jsonLength;
	}
</script>
<script src="__PUBLIC__/static/assets/js/lds.js"></script>
</html>

