{extend name="index@index/base" /}
{block name="main"}
<style>
    .search_form input{margin-left: 10px;height: 40px;}
    .search_form span{margin-left: 10px;}
    .page-header a {margin-left:10px;width: 100px; }
</style>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs','fixed')}catch(e){}
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">首页</a>
        </li>

        <li>
            <a href="#">资产管理</a>
        </li>
        <li class="active">统购长审核资产</li>
    </ul><!-- .breadcrumb -->
</div>
<div class="page-content">
    <div class="page-header">

    </div><!-- /.page-header -->
    <div>
        <form class="search_form" method="get">
            <!--<span>领用人:</span><input type="text" name="reg_prop_num" value="{$page_info.reg_prop_num?$page_info.reg_prop_num:'';}">-->
            <!--<span>一起名称:</span><input type="text" name="reg_prop_name" value="{$page_info.reg_prop_name?$page_info.reg_prop_name:'';}">-->
            <!--<span><button type="submit" class="btn btn-primary">查询</button></span>-->
        </form>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID:</th>
                <th>采购物品：</th>
                <th>申请部门：</th>
                <th>申请人：</th>
                <th>主管审核：</th>
            </tr>
            </thead>
            <tbody>
            {volist name="$page_info.data" id="vo"}
            <tr >
                <td>{$vo.id} </td>
                <td>{$vo.pur_name}  </td>
                <td>{$vo.zh_name}</td>
                <td>{$vo.nickname}</td>
                <td>
                    <button class="btn btn-primary btn-xs layerIframe" max="true" title="审核资产" url="showpur?id={$vo.id}">申请部门主管已审核</button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>

    </div>
</div>
{/block}
{block name="script"}

<script>

</script>
{/block}