<meta charset="utf-8" />
<form action="editRow" method="post" id="rowForm">
	<div style="margin-left:5%">
	   	<table cellpadding="5" >
	   	<input type="hidden" name="id" value="{$page_info.id}"/>
	   		<tr>
	   		{volist name="page_info.info" id="vo" key="k"}
	   		{php}if (($k-1)%4 == 0){
					echo "</tr>";
					echo "<tr>";
				}
			{/php}		
	   			<td  align="right">{$vo.field_show}:</td>
	   			{if condition="(($page_info['authorily'] == 2) and ($vo['section'] !== 0)) or (($page_info['authorily'] == 4) and ($vo['section'] !== 1)) or (($page_info['authorily'] == 6) and ($vo['section'] !== 2)) or (($page_info['authorily'] == 8) and ($vo['section'] !== 3))"/}
	   			<td><input class="easyui-textbox" type="text" name="{$vo.field}" value="{$vo.value}" disabled="disabled" style='background-color:#ddd'></td>
		   		{else/}
		   			{in name="vo.field" value="$page_info.field_category_1"}
						<td><input class="easyui-textbox" type="text" name="{$vo.field}" value="{$vo.value}" readonly style='background-color:#ddd'></td>
					{else/}
						{in name="vo.field" value="$page_info.field_category_4"}
						{php}$content = cost_get_select_content($vo['field']);{/php}
							<td>
								<!--{$vo.field}-->
								 {if condition="$vo.field eq 'by16'"}
                                     {php}$field =  str_replace("(R)","",trim($vo['value'])) {/php}
									<select name='{$vo.field}' style="width:100%">
										<option value="" {if condition="$field eq '' "}selected = "selected" {/if}>无研磨厂</option>
										{volist name="content" id="v"}
										   <option  value = "{$v}"  {if condition="(trim($v) == $field)"} selected = "selected" {/if} >{$v} </option >
										{/volist}
									</select>
								 {else/}
								    {php}$field1 = strtoupper(trim($vo['value'])) {/php}
									<select name='{$vo.field}' style="width:100%">
										<option  value="" {if condition="$field1 eq ''"}selected = "selected" {/if}>无</option>
										{volist name="content" id="v"}
                                          {if condition= "$v neq ''"}
										<!--<option  value = "{$v}"  {if condition="(trim($v) == trim($vo['value']))"} selected = "selected" {/if} >{$v}-{$vo.value}</option >-->
										    <option  value = "{$v}"  {if condition="(strtoupper(trim($v)) == $field1)"} selected = "selected" {/if} >{$v}</option >
                                          {/if}
										{/volist}
									</select>
								 {/if}

							</td>	
						{else/}
							{if condition="($vo['field'] == 'by2')"}
								<td><textarea class="easyui-textbox" type="text" name="{$vo.field}" style="width:164px;height:13px" value="{$vo.value}"></textarea></td>
							{else/}
								{in name="vo.field" value="WF,WF_Die,by10,by11,CP_Die,CP_Pcs,by60,by12,by13,Ym,by14,by17,PUG,Die,by21,by22,F_T_Yld,by23,F_T,FT_sjjg,F_T_TWEO,by26,by27,by29,by30,by32,by33,by34,by35,by36,by37,by39,by43,by44,by45,by46,by49,by50,by51,by54,by55,by56,U_Cost_US,U_Cost_HK"}
								<td><input onkeyup="value=value.replace(/[^\d\.]/g,'')" onblur="value=value.replace(/[^\d\.]/g,'')" class="easyui-textbox" type="text" name="{$vo.field}" value="{$vo.value}"></td>
								{else/}
								<td><input class="easyui-textbox" type="text" name="{$vo.field}" value="{$vo.value}"></td>
								{/in}
							{/if}
						{/in}
		   			{/in}
	   			{/if}
			{/volist}
	   		</tr>
	   			<tr><td></td></tr>
	   	</table>
   </div>
   {if condition="($page_info['flow'] != 4)"}
    <div style="margin:3% 20% 2% 40%"><span>
	 {if condition="$page_info.authorily eq 2 " }
		流程结束:
		{else/}
		提交下个部门：
      {/if}
	</span><input type="checkbox" name="email"/></div>
   {/if}
</form>
<div style="margin:0% 0 10% 40%">
	   	<button onclick="rowSubmit()" type="button" style='cursor:pointer;' id="subedit">提交</button>
	   	<button class='closeLayer' style='cursor:pointer;'>关闭</button>
   	</div>
<script>
    function rowSubmit(){
    	var $form = $('#rowForm');
		$.ajax({
			type:$form.method || 'POST',
			url:$form.attr("action"),
			data:$form.serializeArray(),
			beforeSend: function(){
				$("#subedit").attr({ disabled: "disabled" });
			},
			dataType:"json",
			success:function(result){
				showMsg(result);
				if(result.statusCode == 1){
					reload_list();
				}
			},
			complete: function () {
				$("#subdit").removeAttr("disabled");
			}
		});
    }
	/* 计算公式
	CP_Die = CP_Pcs/Good_Die
	Ym = by14/Good_Die
	F_T = F_T_TWEO/by23
	by45 = by46/Good_Die
	U_Cost_US = WF_Die+ CP_Die + Ym +PUG+Die+ F_T +by30+by35+by37+by39
	*/
	$('input[name=CP_Pcs]').change(function(){
		CP_Die_val();
		U_Cost_US_val();
	});

	$('input[name=Good_Die]').change(function(){
		CP_Die_val();
		Ym_val();
		by45_val();
		U_Cost_US_val();
	});
	$('input[name=by14]').change(function(){
		Ym_val();
		U_Cost_US_val();
	});
	$('input[name=F_T_TWEO],input[name=by23]').change(function(){
		F_T_val();
		U_Cost_US_val();
	});
	$('input[name=by46]').change(function(){
		by45_val();
	});
	$('input[name=WF_Die],input[name=PUG],input[name=Die],input[name=by30],input[name=by35],input[name=by37],input[name=by39]').change(function(){
		U_Cost_US_val();
	});
	
	
	function CP_Die_val(){
		var cp_pcs = '';
		var good_die = '';
		if(!$('input[name=CP_Pcs]').val()){cp_pcs = 0;}else{cp_pcs = Number($('input[name=CP_Pcs]').val());}
		if(!$('input[name=Good_Die]').val()){good_die = 1;}else{good_die = Number($('input[name=Good_Die]').val())}

		var CP_Die = (cp_pcs/good_die);
		CP_Die = CP_Die.toFixed(4);
//		var CP_Die = Number($('input[name=CP_Pcs]').val())/Number($('input[name=Good_Die]').val());
		$('input[name=CP_Die]').val(CP_Die);
	}
	function Ym_val(){
		var by14 = '';
		var Good_Die = '';
		if(!$('input[name=by14]').val()){by14 = 0;}else{by14 = Number($('input[name=by14]').val());}
		if(!$('input[name=Good_Die]').val()){Good_Die = 1;}else{Good_Die = Number($('input[name=Good_Die]').val())}

		var Ym = (by14/Good_Die);
        Ym = Ym.toFixed(4);
//		var Ym = Number($('input[name=by14]').val())/Number($('input[name=Good_Die]').val());
		$('input[name=Ym]').val(Ym);
	}
	function F_T_val(){
		var f_t_tweo = '';
		var by23 = '';

		if(!$('input[name=F_T_TWEO]').val()){f_t_tweo = 0;}else{f_t_tweo = Number($('input[name=F_T_TWEO]').val());}
		if(!$('input[name=by23]').val()){by23 = 1;}else{by23 = Number($('input[name=by23]').val());}
		var F_T = (f_t_tweo/by23);
		F_T =  F_T.toFixed(4);
//		var F_T = Number($('input[name=F_T_TWEO]').val())/Number($('input[name=by23]').val());
		$('input[name=F_T]').val(F_T);
	}
	function by45_val(){
		var by46 = '';
		var good_die = '';
		if(!$('input[name=by46]').val()){by46 = 0;}else{by46 = Number($('input[name=by46]').val());}
		if(!$('input[name=Good_Die]').val()){good_die = 1;}else{good_die = Number($('input[name=Good_Die]').val())}
		var by45 = (by46/good_die);
		by45 = by45.toFixed(4);
//		var by45 = Number($('input[name=by46]').val())/Number($('input[name=Good_Die]').val());
		$('input[name=by45]').val(by45);
	}
	function U_Cost_US_val(){

//		var U_Cost_US = Number($('input[name=WF_Die]').val())+Number($('input[name=CP_Die]').val())+
//		            Number($('input[name=Ym]').val())+Number($('input[name=PUG]').val())+
//					Number($('input[name=Die]').val())+Number($('input[name=F_T]').val())+
//					Number($('input[name=by30]').val())+Number($('input[name=by35]').val())+
//					Number($('input[name=by37]').val())+Number($('input[name=by39]').val());
		var wf_die = '';
		var cp_die = '';
		var ym = '';
		var pug = '';
		var die = '';
		var f_t = '';
		var by30 = '';
		var by35 = '';
		var by37 = '';
		var by39 = '';

		if(!$('input[name=WF_Die]').val()){wf_die = 0;}else{wf_die =  Number($('input[name=WF_Die]').val());}
		if(!$('input[name=CP_Die]').val()){cp_die = 0;}else{cp_die =  Number($('input[name=CP_Die]').val());}
		if(!$('input[name=Ym]').val()){ym = 0;}else{ym =  Number($('input[name=Ym]').val());}
		if(!$('input[name=PUG]').val()){pug = 0;}else{pug =  Number($('input[name=PUG]').val());}
		if(!$('input[name=Die]').val()){die = 0;}else{die =  Number($('input[name=Die]').val());}
		if(!$('input[name=F_T]').val()){f_t = 0;}else{f_t =  Number($('input[name=F_T]').val());}
		if(!$('input[name=by30]').val()){by30 = 0;}else{by30 =  Number($('input[name=by30]').val());}
		if(!$('input[name=by35]').val()){by35 = 0;}else{by35 =  Number($('input[name=by35]').val());}
		if(!$('input[name=by37]').val()){by37 = 0;}else{by37 =  Number($('input[name=by37]').val());}
		if(!$('input[name=by39]').val()){by39 = 0;}else{by39 =  Number($('input[name=by39]').val());}

		var U_Cost_US = (wf_die)+(cp_die)+(ym)+(pug)+(die)+(f_t)+(by30)+(by35)+(by37)+(by35);
		$('input[name=U_Cost_US]').val(U_Cost_US);
	}
</script>

