<form class="form-horizontal" role="form" id="nodeForm" autocomplete="off"  action="{:url('sys/privilege/addNode',0,false)}" method="post" onsubmit="return validateCallback(this);">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">上级权限:</label>
            <div class="col-sm-8">
                <select name="parent_id" id="parent_id">
                    <option value="0" level="0">顶级权限</option>
                    {$str}
                </select>
            </div>
        </div>
        <input type="hidden" name="level" value=" " id="level">

        <div class="form-group">
            <label  class="col-sm-3 control-label">权限名称:</label>
            <div class="col-sm-8">
                <input type="text"  name="pri_name" id="pri_name" zrj_flag="pri_name" placeholder="权限管理" ><span  style="color:red;top: -5px;position:relative;">*</span>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">module名称:</label>
            <div class="col-sm-8">
                <input type="text"  name="module_name" id="module_name"zrj_flag="module_name" placeholder="sys"><span style="color:red;top: -5px;position:relative;">*</span>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">Controller名称:</label>
            <div class="col-sm-8">
                <input type="text"  name="controller_name" id="controller_name" zrj_flag = "controller_name" placeholder="privilege"><span style="color:red;top: -5px;position:relative;">*</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Action名称:</label>
            <div class="col-sm-8">
                <input type="text"  name="action_name" id="action_name" placeholder="index"><span style="color:red;top: -5px;position:relative;">*</span>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">左侧菜单显示:</label>
            <div class="col-sm-8">
                <select name="is_show" id="show">
                    <option value="1">显示</option>
                    <option value="0">不显示</option>
                </select>
                选择样式： <select name="class_style"><option value="0">默认样式</option>{$class}</select><i style="padding-left: 10px;"></i>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">状态:</label>
            <div class="col-sm-8">
                <select name="status" id="status">
                    <option value="1">启用</option>
                    <option value="0">禁用</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">是否为新窗口:</label>
            <div class="col-sm-8">
                <input name="new_open" type="checkbox" value="1">
            </div>
        </div>
        
        <div class="form-group">
            <label  class="col-sm-3 control-label">不合法IP:</label>
            <div class="col-sm-8">
                <select name="is_check_ip" id="ip">
                    <option value="1">不开放</option>
                    <option value="0">开放</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">排序:</label>
            <div class="col-sm-8">
                <input type="text" name="order_id" id ="order_id" placeholder="请输入排序id">
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-info" id="add_role">添加权限</a>
            <a class="btn closeLayer">取消</a>
        </div>
    </div>
</form>
<script>

    $("select[name=class_style]").change(function(){
        var text =  $("select[name=class_style]").find("option:selected").text();
        $("select[name=class_style] + i").removeClass().addClass(text);
    });

    $("#add_role").click(function(){
        var level = $("select[id=parent_id]>option:selected").attr("level");
        /*赋值到添加表单隐藏的level*/
        $("#level").val(level);
        $("#nodeForm").submit();return false;
    });
    /*页面初始化*/
    $('input[name=controller_name] + span').hide();
    $('input[name=action_name] + span').hide();

    $("select[name=parent_id]").change(function(){
        var level = $("select[id=parent_id]>option:selected").attr("level");
        var module_name = $("select[id=parent_id]>option:selected").attr("module_name");
        var controller_name = $("select[id=parent_id]>option:selected").attr("controller_name");
        if(level == '0'){

            $('input[name=controller_name] + span').hide();
            $('input[name=action_name] + span').hide();
        }else if(level == '1'){
            $('input[name=module_name]').val(module_name);
            $('input[name=controller_name]').val(controller_name);
            $('input[name=controller_name] + span').show();
            $('input[name=action_name] + span').hide();
        }else if(level == '2'){
            $('input[name=module_name]').val(module_name);
            $('input[name=controller_name]').val(controller_name);
            $('input[name=controller_name] + span').show();
            $('input[name=action_name] + span').show();
        }

    })

</script>
