<html lang="zh-cn"><head>
<html lang="zh-cn"><head>
		<meta charset="utf-8" />
		<title>内管-{:config('company_name_zh')}</title>
		<!-- basic styles -->
		<link href="__PUBLIC__/static/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/static/assets/css/font-awesome.min.css" />
		<!--[if IE 7]>
		  <link rel="stylesheet" href="__PUBLIC__/static/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->
		<link rel="stylesheet" href="__PUBLIC__/static/assets/css/css.css" />
        
        <!-- sinowealth styles-->
        <link rel="stylesheet" href="__PUBLIC__/static/assets/css/bootstrap-treeview.min.css" />

		<!-- ace styles -->

		<link rel="stylesheet" href="__PUBLIC__/static/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/static/assets/css/ace-rtl.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/static/assets/css/datepicker.css" />
        <link rel="stylesheet" href="__PUBLIC__/static/assets/css/bootstrap-timepicker.css" />

        <link rel="stylesheet" href="__PUBLIC__/static/assets/css/zui.calendar.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/static/assets/css/dropzone.css" />
        
        <link rel="stylesheet" href="__PUBLIC__/static/assets/layui/css/layui.css" />
        <link rel="stylesheet" href="__PUBLIC__/static/assets/layer/skin/myskin/style.css">

        <!-- fonts -->
		<link rel="stylesheet" href="__PUBLIC__/static/assets/css/sw.css" />        

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__PUBLIC__/static/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="__PUBLIC__/static/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/static/assets/js/html5shiv.js"></script>
		<script src="__PUBLIC__/static/assets/js/respond.min.js"></script>
		<![endif]-->
        
		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="__PUBLIC__/static/assets/js/jquery.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/static/assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='__PUBLIC__/static/assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
        </script>
        <![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__PUBLIC__/static/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
		</script>
		<script src="__PUBLIC__/static/assets/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/static/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="__PUBLIC__/static/assets/js/excanvas.min.js"></script>
		<![endif]-->

		<script src="__PUBLIC__/static/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="__PUBLIC__/static/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="__PUBLIC__/static/assets/js/jquery.slimscroll.min.js"></script>
		<script src="__PUBLIC__/static/assets/js/jquery.easy-pie-chart.min.js"></script>
		<script src="__PUBLIC__/static/assets/js/jquery.sparkline.min.js"></script>
		<script src="__PUBLIC__/static/assets/js/flot/jquery.flot.min.js"></script>
		<script src="__PUBLIC__/static/assets/js/flot/jquery.flot.pie.min.js"></script>
		<script src="__PUBLIC__/static/assets/js/flot/jquery.flot.resize.min.js"></script>
        <script src="__PUBLIC__/static/assets/js/dropzone.min.js"></script>
        
        <!-- sinowealth scripts -->
        <script src="__PUBLIC__/static/assets/js/bootstrap-treeview.min.js"></script>        
        <script src="__PUBLIC__/static/assets/js/sw.js"></script>
        <script src="__PUBLIC__/static/assets/js/sw_ajax.js"></script>
        <script src="__PUBLIC__/static/assets/js/tooltip.js"></script>

		<!-- ace scripts -->
		<script src="__PUBLIC__/static/assets/js/ace-elements.min.js"></script>
		<script src="__PUBLIC__/static/assets/js/ace.min.js"></script>
        <script src="__PUBLIC__/static/assets/js/date-time/bootstrap-datepicker.js"></script>
		<script src="__PUBLIC__/static/assets/js/date-time/bootstrap-timepicker.min.js"></script>

		<!-- zui scripts -->
        <script src="__PUBLIC__/static/assets/js/zui.js"></script>
        <script src="__PUBLIC__/static/assets/js/zui.calendar.js"></script>
        <script src="__PUBLIC__/static/assets/js/messager.js"></script>       

		<!-- inline scripts related to this page -->
        <script src="__PUBLIC__/static/assets/js/layer.js"></script>
		<script src="__PUBLIC__/static/assets/js/laydate/laydate.js"></script>
        <script src="__PUBLIC__/static/assets/layui/layui.js"></script>
        <script src="__PUBLIC__/static/assets/js/zrj.js"></script>
        <script src="__PUBLIC__/static/assets/js/checktree/checktree.js"></script>
        <!-- ...js页面太多懒得一个个复制了.. -->
 		<script src="__PUBLIC__/static/assets/js/wtq.js"></script>
<style>
	table td{word-break: keep-all;white-space:nowrap;}
</style>    
        
	</head>

<body>
<div class="row">
	<div class="col-xs-12">
    
      <form class="form-horizontal" name="form_1" role="form" method="post" action="/erp/erp_list/update_row/"  onsubmit="return validateCallback(this)">
        <input type="hidden" name="id" value="{$page_info.id}" />
            <div class="form-group" style="margin:20px 0 0 0;">
                <label for="form-field-1" class="col-sm-1 control-label no-padding-right"> 料号群清单</label>
                <div class="col-sm-1">
                    <select value='pe_prd_list'>
                        <option value="0" {eq name='page_info.pe_prd_list' value='0'}selected="selected"{/eq}>未完成</option>
                        <option value="1" {eq name='page_info.pe_prd_list' value='1'}selected="selected"{/eq}>完成</option>
                    </select>
                </div>
                <label for="form-field-1" class="col-sm-2 control-label no-padding-right"> BOM建立</label>
                <div class="col-sm-1">
                    <select value='pe_bom'>
                        <option value="0" {eq name='page_info.pe_bom' value='0'}selected="selected"{/eq}>未完成</option>
                        <option value="1" {eq name='page_info.pe_bom' value='1'}selected="selected"{/eq}>完成</option>
                    </select>
                </div>
                <label for="form-field-1" class="col-sm-2 control-label no-padding-right"> 合格供应商</label>
                <div class="col-sm-1">
                    <select value='pe_sup'>
                        <option value="0" {eq name='page_info.pe_sup' value='0'}selected="selected"{/eq}>未完成</option>
                        <option value="1" {eq name='page_info.pe_sup' value='1'}selected="selected"{/eq}>完成</option>
                    </select>
                </div>
                <label for="form-field-1" class="col-sm-2 control-label no-padding-right"> 重要栏位维护</label>
                <div class="col-sm-1">
                    <select value='pe_field'>
                        <option value="0" {eq name='page_info.pe_field' value='0'}selected="selected"{/eq}>未完成</option>
                        <option value="1" {eq name='page_info.pe_field' value='1'}selected="selected"{/eq}>完成</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group" style="margin:10px 0 0 0;">
                <label for="form-field-1" class="col-sm-1 control-label no-padding-right"> 问题记录</label>
                <div class="col-sm-10">
                    <textarea name="pe_remark" style="width:100%; height:60%; padding:5px 0 0 10px;"></textarea>
                </div>                
            </div>
            
            <div class="form-group" style="margin:10px 0 0 0;">
            	<div class="col-sm-12" style="text-align:center">                
                    <button class="btn btn-info" type="button" name="f_submit">
                        <i class="icon-ok bigger-110"></i>
                        提交
                    </button>
                </div>
            </div>
            </form>
    </div>
</div>
</body>
</html>
<script>
	$('button[name=f_submit]').click(function(){
			aa=$('form[name=form_1]').submit();
			if(aa=='1ssss'){
					alert(aa);
				layer.closeAll();
				}
		});
	
</script>	

