{extend name="index@index/base" /}
{block name="main"}
<style>
    .search_form input{margin-left: 10px;height: 40px;}
    .search_form span{margin-left: 10px;}
    .page-header a {margin-left:10px;width: 100px; }
</style>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs','fixed')}catch(e){}
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">首页</a>
        </li>

        <li>
            <a href="#">资产管理</a>
        </li>
        <li class="active">部门主管审核验收单</li>
    </ul><!-- .breadcrumb -->
</div>
<div class="page-content">
    <div class="page-header">
        <a href="{:url('prop/dep/index')}" class="btn btn-primary ">返回</a>
        <!--<a href="{:url('prop/apply/applylist')}" class="btn btn-primary pull-right">查看申请表</a>-->
    </div><!-- /.page-header -->
    <div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID:</th>
                <th>仪器名称：</th>
                <th>设备编号：</th>
                <th>品牌型号：</th>
                <th>产品序列号：</th>
                <th>供货商：</th>
                <th>购买时间：</th>
                <th>验收状况：</th>
            </tr>
            </thead>
            <tbody>
            {volist name="$page_info.data" id="vo"}
            <tr    >
                <td>{$vo.id}</td>
                <td>{$vo.instr_name}</td>
                <td>{$vo.equip_num}</td>
                <td>{$vo.brand_model}</td>
                <td>{$vo.product_num}</td>
                <td>{$vo.supplier}</td>
                <td>{$vo.buy_time}</td>
                <td>
                    {switch name="$vo.accept_process"}
                    {case value="1"}<button class="btn btn-primary btn-xs layerIframe" title="审核验收单" wid="650;" hig="600px;" url="checkaccept?id={$vo.id}">领用人已签字</button>{/case}
                    {case value="0"}<button class="btn btn-xs btn-info">验收人验收</button>{/case}
                    {/switch}</td>
            </tr>
            {/volist}
            </tbody>
        </table>

    </div>
</div>
{/block}
{block name="script"}

<script>

</script>
{/block}