      <legend style="height:35px;">
            <div class="col-sm-7 pull-left">
                <span class="label label-lg label-pink arrowed-right">{:config('site_info')[$page_info.cur_user_info.site_id]['site']}</span>
                <span class="label label-xlg label-primary arrowed arrowed-right"> {:config('dep_info')[$page_info.cur_user_info.dep_id]['zh_name']}  {$page_info.cur_user_info.nickname} ({$page_info.cur_user_info.user_gh})</span>
                <span class="label label-info arrowed arrowed-right">{:config('hr_work_level')[$page_info.cur_user_info.hr_work_level_id]}职等</span>
                <span class="label label-inverse">{eq name="$page_info.cur_user_info.pay_type" value="1"}红利制{else/}单一制{/eq}</span>
            </div>
       </legend>
       
       <!--加项小记-->
       <fieldset>
            <legend>{$page_info.field_arr.16.zh_name}&nbsp;&nbsp;<small>({:c_z($page_info['row_info']['pay_16'])})</small></legend>
            <!--薪资-->
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.1.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_1'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
             <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.3.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_3'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
             <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.15.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_15'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            
             <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.7.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_7'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            
            
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.8.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_8'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.6.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_6'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.14.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_14'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <!--境外人员-->
            {neq name="$page_info['row_info']['pay_54']" value="0"}
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.54.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_54'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            {/neq}
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.35.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_38'])}小时  结算:{:c_z($page_info['row_info']['pay_35'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
                       
             <!--端午,中秋,双薪-->
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.9.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_9'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.10.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_10'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.11.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_11'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            </fieldset>
            
            <!--扣项小记-->
            <fieldset style="margin:20px 0 0 0px;">
            <legend>{$page_info.field_arr.26.zh_name}&nbsp;&nbsp;<small>({:c_z($page_info['row_info']['pay_26'])})</small></legend> 
             <!--5险1金-->
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.17.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_17'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.18.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_18'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.19.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_19'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.20.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_20'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            
            <div style="height:5px; width:100%; float:left;"></div>            
             <!--考勤信息(时)-->
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.24.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_29'])}小时  扣款:{:c_z($page_info['row_info']['pay_24'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.25.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_30'])}小时  扣款:{:c_z($page_info['row_info']['pay_25'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.21.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_31'])}小时  扣款:{:c_z($page_info['row_info']['pay_21'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            </fieldset>
            
            <fieldset style="margin:20px 0 0 0;">
            <legend>纳税数据&nbsp;&nbsp;<small>({:c_z($page_info['row_info']['pay_22'])})</small></legend>         
             <!--纳税数据-->
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.27.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_27'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.22.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_22'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            </fieldset>
            
             <fieldset style="margin:20px 0 0 0;">
            <legend>税后扣款&nbsp;&nbsp;<small>({:c_z($page_info['row_info']['pay_46']+$page_info['row_info']['pay_47']+0+$page_info['row_info']['pay_33']+$page_info['row_info']['pay_34'])})</small></legend>         
             <!--用餐-->
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.46.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_52'])}次  扣款:{:c_z($page_info['row_info']['pay_46'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.47.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_53'])}次  扣款:{:c_z($page_info['row_info']['pay_47'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
             <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.48.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="0次  扣款:{:c_z($page_info['row_info']['pay_48'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.33.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_33'])}" disabled="disabled">&nbsp;&nbsp;
                            <i class="icon-book layerIframe" name="show_loan_log" style="cursor:pointer;" title="扣还款记录" url="{:url("show_loss_money")}"></i> 
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.34.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_34'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            </fieldset>
            
            <div style="height:5px; width:100%; float:left; border-top:#CCC solid 1px;"></div>            
            <!--费用 结算-->           
            
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>{$page_info.field_arr.28.zh_name}</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			<input type="text" class="col-sm-10"  value="{:c_z($page_info['row_info']['pay_28'])}" disabled="disabled">
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr></nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			
                        </td>
                    </tr>
                </table>
            </div>
            </label>
            <label class="col-sm-3 control-label no-padding-left">
            <div class="col-sm-12">
            	<table>
                	<tr>
                    	<td style="width:90px;"><nobr>薪资备注:</nobr></td>
                        <td>&nbsp;</td>
                        <td>                        	
                			{$page_info['row_info']['pay_51']}
                        </td>
                    </tr>
                </table>
            </div>
            </label>

<script>
	$('i[flag=view_log]').click(function(){
		layer.open({
		  type: 1,
		  title: '修改日志',
		  area: '500px',
		  skin: 'layui-layer-demo', //样式类名
		  closeBtn: 1, //不显示关闭按钮
		  anim: 2,
		  time:8000,
		  shadeClose: true, //开启遮罩关闭
		  content: $(this).attr('log_value')
		});			
	});	


</script>

