{extend name="index@index/base" /}
{block name="main"}
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs','fixed')}catch(e){}
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">首页</a>
        </li>

        <li>
            <a href="#">后台管理</a>
        </li>
        <li class="active">自定义菜单</li>

    </ul><!-- .breadcrumb -->
</div>
<div class="page-content">

    <form id="priFrom">
        <div class="page-header">
            <!--<label></label>-->
            <span>个人权限展示：</span>
            <span><button id="addNav" type="button" class="btn btn-primary pull-right" style="height: 36px;">保存</button></span>
        </div>
        <div id="tree" style="height: 400px;overflow: auto;">
            {$tree}
        </div>
    </form>
    <!--<div style="float: right;"><button id="addNav" class="btn btn-app btn-black btn-sm">保存</button></div>-->
</div>
{/block}


{block name="script"}
<script src="__PUBLIC__/checktree/checktree.js"></script>
<script>
    makeTree('tree');
    $("#addNav").unbind('click').bind('click',function() {
        var idattr = $("input:checkbox[name='pri_id']:checked").map(function (index, elem) {
            return $(elem).val();
        }).get().join(',');
        $.post("{:url('user/collect_url/addnav',0,false)}",{idData: idattr},function(data) {
            showMsg(data);
        },"JSON");

    });
</script>
{/block}