<style>
    table{width:600px; }
    .type_table input{width: 200px;}
    .type_table tr td{padding-left: 20px;}
    tr td input{width: 150px;}
    .pur_info input{width: 200px;}
</style>

<form class="form-horizontal"  role="form" autocomplete="off" action="{:url('prop/manage/editpurdata',0,false)}"
      method="post" onsubmit="return validateCallback(this);" xmlns="http://www.w3.org/1999/html">
    <input type="hidden" name="id" value="{$page_info.common.id}">
    <div class="form-group">
        <label>一、采购物品的相关信息</label>
        <div>
            <label>采购物品：</label>
            <input type="text" name="pur_name" value="{$page_info.common.pur_name}"  >
        </div>
    </div>
    <div class="form-group">
        <label>二、型号推荐及选择:</label>
        <div>
            <table class="type_table">
                <thead>
                <tr>
                    <td>编号：</td>
                    <td>品牌型号：</td>
                    <td>基本配置信息：</td>
                    <td>参考价格：</td>
                    <td>备注：</td>
                </tr>
                <tr>
                    {$page_info.brand}
                </tr>
            </table>
            <button type="button" class="btn btn-primary btn-xs add_more">复制</button>
        </div>
    </div>
    <div class="form-group">
        <label>三、供应商选择</label>
        <div>
            <table class="table table-border select_form">
                <tr>
                    <td rowspan="2" style="vertical-align:middle"  >型号：</td>
                    <td colspan="2"  >供应商:<input   type="text" name="supplier_1" value="{$page_info.common.supplier_1}"></td>
                    <td colspan="2"  >供应商:<input   type="text" name="supplier_2" value="{$page_info.common.supplier_2}"></td>
                    <td colspan="2"  >供应商:<input   type="text" name="supplier_3" value="{$page_info.common.supplier_3}"></td>
                </tr>
                <tr>
                    <td>报价：</td>
                    <td style="text-align: center">议价清单报价：</td>
                    <td>报价：</td>
                    <td style="text-align: center">议价清单报价：</td>
                    <td>报价：</td>
                    <td style="text-align: center">议价清单报价：</td>
                </tr>
                <tr>
                    {$page_info.model}
                </tr>
            </table>

        </div>
    </div>
    <div class="form-group">
        <label>四、采购相关信息</label>
        <div>
            <table class="table table-border pur_info">
                <tr>
                    <td>采购建议：</td>
                    <td><input   type="text" name="pur_advice" value="{$page_info.common.pur_advice}"></td>
                    <td>验收人：</td>
                    <td>
                        <select name="accept_use_id">
                            {$page_info.it}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>是否请求统购长批示：</td>
                    <td><input type="checkbox" name="is_pur" {if condition="$page_info.common.is_pur eq 1"}checked="checked"{/if}></td>
                    <td>选择申请部门：</td>
                    <td>
                        <select name="dep_manage_id">
                            {$page_info.dep_data_str}
                       </select>
                    </td>
                </tr>
                <tr>
                     <td>设定(签呈：自)</td>
                     <td>
                         <select name="sign_id">
                             {$page_info.dep_all_sign}
                         </select>
                     </td>
                    {if condition="$page_info.common.pur_process eq 1"}
                    <td>IT主管不同意原因：</td>
                    <td><input disabled="disabled" type="text" value="{$page_info.common.it_dep_advice}"></td>
                    {elseif condition="$page_info.common.pur_process eq 2"/}
                    {else /}
                    {/if}
                    {if condition="$page_info.common.pur_process eq 3"}
                         <td><strong style="color: red;">申请部门主管不同意：</strong></td>
                         <td><input disabled type="text" value="{$page_info.common.dep_advice}"></td>
                    {/if}
                    {if condition="$page_info.common.pur_process eq 5"}
                         <td>统购长意见：</td>
                         <td><input disabled type="text" value="{$page_info.common.purchase_advice}"></td>
                    {/if}
                </tr>
            </table>
        </div>
    </div>

    <div class="pull-right">
        <button  class="btn btn-info">确认</button>
        <a class="btn btn-default closeLayer">取消</a>
    </div>
</form >