{extend name="index@index/base" /}
{block name="main"}
<style>
    .search_form span{ margin-left: 10px;}
    .search_form input{width: 120px;height: 25px;}

</style>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs','fixed')}catch(e){}
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">首页</a>
        </li>

        <li>
            <a href="#">资产管理</a>
        </li>
        <li class="active">未结案费用报销总表</li>
    </ul><!-- .breadcrumb -->
</div>
<div class="page-content">
    <div class="page-header">
        <!--<h1>财务审核资产列表</h1>-->

        <a class="btn btn-primary btn-xs layerIframe  "  href="{:url('sys/cost_all/index')}">返回已结案列表</a>
    </div><!-- /.page-header -->
    <div>
        <form name="search_form" method="get" role="form" class="search_form">
            <input type="hidden" name="sort">
            <span>
                凭证日期从:
                <input  value="{$page_info.vou_data1?$page_info.vou_data1:''}" class="laydate-icon-molv dateControl" id="require_time" format='YYYY-MM-DD ' festival="" skin="molv" name="vou_data1"> 至
                <input  value="{$page_info.vou_data2?$page_info.vou_data2:''}" class="laydate-icon-molv dateControl" id="time" format='YYYY-MM-DD ' festival="" skin="molv" name="vou_data2">
            </span>
            <span>部门名称：<select name="dep_id"><option value="">选择下列的部门{$page_info.dep_str}</option></select></span>
            <span><button class="btn btn-primary btn-xs search" type="submit">查询</button></span>
            <span>是否全部结案：
                <input id="id-button-borders" class="ace ace-switch ace-switch-5" type="checkbox" name="is_expend"><span class="lbl"></span>
            </span>
            <span><button type="button" style="display: none;" class="btn btn-primary btn-xs batchclose">结案</button></span>
        </form>


    </div>
    <div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="sort" style="cursor:pointer;">

                    ID
                    <!--{if condition="$page_info.sort eq 'asc'"}<span class="sort_desc" style="color: red;"></span>{/if}-->
                    <!--{if condition="$page_info.sort eq 'desc'"}<span class="sort_asc" style="color: red;">☝</span>{/if}-->
                    <span class="sort_asc" style="color: red;">
                          {if condition="$page_info.sort eq 'asc'"}☟{/if}
                          {if condition="$page_info.sort eq 'desc'"}☝{/if}
                    </span>

                </th>
                <th>凭证号 </th>
                <th>凭证日期 </th>
                <th>部门号 </th>
                <th>部门名称 </th>
                <th>员工工号 </th>
                <th>员工名称 </th>
                <th>类型号  </th>
                <th>费用类型名称 </th>
                <th>费用额</th>
                <th>备注 </th>
                <th>生成日期 </th>
                <th>编辑 </th>
            </tr>
            </thead>
            <tbody>
            {volist name="$page_info.data" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.vou_num} </td>
                <td>{$vo.vou_data}</td>
                <td>{$vo.dep_num} </td>
                <td>{:get_cache_data('dep_info',$vo.dep_id,'en_name')} </td>
                <td>{$vo.user_job_num} </td>
                <td>{:get_cache_data('user_info',$vo.user_id,'nickname')}</td>
                <td>{$vo.type_num} </td>
                <td>{:get_cost_type($vo.free_type_select)} </td>
                <td>{$vo.cost_amout}</td>
                <td>{$vo.remark} </td>
                <td>{$vo.create_time}</td>
                <td>
                    <button class="btn btn-primary btn-xs layerIframe" hig="600px;" title="确定报销结案及修改" url="edit?id={$vo.id}">修改</button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {$page_info.page}
    </div>
</div>
{/block}
{block name="script"}
<script>
$(".batchclose").click(function(){
    layer.confirm('确认批量结案？', {
        btn: ['确定','取消'] //按钮
    }, function(){
        var vou_data_1 = $("input[name=vou_data1]").val();
        var vou_data_2 = $("input[name=vou_data2]").val();
        $.post("{:url('sys/cost_all/batchclose')}",{time1:vou_data_1,time2:vou_data_2},function(result){
            showMsg(result);
        },"JSON")
    });

});
$("input[name=is_expend]").click(function(){
    if($(this).is(':checked')){
        $(".batchclose").show();
    }else{
        $(".batchclose").hide();
    }

});
    $(".sort_asc").click(function(){
        var sort = '{$page_info.sort}';
        var sort_str = '';
        if(sort == 'desc'){
            $(".sort_asc").text('☝');
              sort_str = 'asc'
        }else{
            $(".sort_asc").text('☟');
              sort_str = 'desc'
        }
        $("input[name=sort]").val(sort_str);
        $("form[name=search_form]").submit();
    });





</script>
{/block}